{% extends "explore/expworkspace.html" %}

{% load static %}

<div class="container fluid">
	<div class="row">
		<div class="col">
			<h5>
				{% block workspacetitle %}
				Historic Response List ({{ page_obj.paginator.count }} records)
				{% endblock %}
			</h5>
		</div>
	</div>

    {% block workspacebody %}
 
    <div class="row">
        <div class="col">
            Responselist={{ responselist }}
            {% if responselist %}
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Info</th>
                        <th>Info <nav aria-label="pager">
                            <ul class="pagination pagination-sm">
                              <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                          </nav></th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in responselist %}
                    <tr>
                        <td>{{ response.id }}</td>
                        <td><a href="{% url 'explore:responsedetail' response.id %}">{{ response.id }}</a></td>
                        <td></td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
            {% else %}
            <h6>No survey responses are available.</h6>
            {% endif %}
        </div>
    </div>
	{% endblock %}
</div>



