{% extends "sidebar.html" %}
{% load static %}

{% block sb_home %}
<li class="mb-1">
  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
    Home
  </button>
  <div class="collapse" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/" class="active link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
     </ul>
  </div>
</li>
{% endblock %} 
{% block sb_explore %}
<li class="mb-1">
  <button aria-current="page" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#explore-collapse" aria-expanded="false">
    Explore
  </button>
  <div class="collapse" id="explore-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="/explore/surveyresponses/" class="link-dark d-inline-flex text-decoration-none rounded">Explore All</a></li>

       <li><a href="/explore/surveyresponses/yr/2015/" class="link-dark d-inline-flex text-decoration-none rounded">View 2015 Survey Results</a></li>
          <li><a href="/explore/surveyresponses/yr/2016/" class="link-dark d-inline-flex text-decoration-none rounded">View 2016 Survey Results</a></li>
          <li><a href="/explore/surveyresponses/yr/2017/" class="link-dark d-inline-flex text-decoration-none rounded">View 2017 Survey Results</a></li>
    </ul>
  </div>
</li>
{% endblock %} 
{% block sb_survey %}
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Take the Survey
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/survey/" class="link-dark d-inline-flex text-decoration-none rounded">Answer the questions.</a></li>
        </ul>
      </div>
    </li>
    {% endblock %} 
        {% block sb_sres %}
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 " data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
        Submitted Results &nbsp; &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
  <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
</svg>
      </button>
      <div class="collapse show" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/surveyresults/" class="link-dark d-inline-flex text-decoration-none rounded">See how your answers compare to the existing data.</a></li>
        </ul>
      </div>
    </li>
    {% endblock %} 