{% load static %}

    <div class="row ">
      <div class="d-flex flex-column ">
        <h5 class="fw-bold">Objective</h5>
        <p>The opiod epidemic has had a serious effect on the nation's public health. Using data from the National Survey on Drug Use and Health (2015-2017), which had been converted to CSV for another project on Kaggle, this web application presents the opportunity to take a survey similar to the one used for the National Survey and browse the historical results. The goal of this project is to demonstrate practical database concepts.
        </p>
      </div>
      <div class="row row-cols-2 g-4">
        <div class="d-flex flex-column ">
          <h5 class="fw-semibold mb-0">Technical Details</h5>
          <p>The web application is built on Python 3.11 using Flask as a url routing mechanism and Django as an application framework. Bootstrap is used as a front-end user interface framework.</p>

<hr />
<h5 class="fw-semibold mb-0">Demo Video</h5>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/N9dAG6OzjdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>


        <div class="d-flex flex-column">
          <h5 class="fw-semibold mb-0">Data</h5>
          <p class="lead">Data was obtained from the following source:</p>
          <ul>
            <li>
                Data from the National Survey on Drug Use and Health was obtained from this Kaggle entry: <a href="https://www.kaggle.com/datasets/thedevastator/predicting-pain-reliever-misuse-abuse" target="_blank">https://www.kaggle.com/datasets/thedevastator/predicting-pain-reliever-misuse-abuse</a>. The data was formatted as a CSV with deidentified survey results coded as integers for a project involving predictive models (used here <a href="https://zenodo.org/record/2301844#.ZEXe5OwpBpR" target="_blank">Comparing Predictive Models of Pain Reliever Misuse and Abuse</a>).
            </li>
            <li>
                The Nation Survey website has more information pertaining to the study results and format and can be found here: 
                <ul>
                  <li>2015: <a href="https://catalog.data.gov/dataset/national-survey-on-drug-use-and-health-nsduh-2015" target="_blank">Details for the 2015 survey</a></li>
                  <li>2016: <a href="https://www.samhsa.gov/data/release/2016-national-survey-drug-use-and-health-nsduh-releases" target="_blank">Details for the 2016 survey</a></li>
                  <li>2017: <a href="https://www.samhsa.gov/data/report/2017-nsduh-annual-national-report" target="_blank">Details for the 2017 survey</a></li>
            </li>
          </ul>
          <hr />
<h5 class="fw-semibold mb-0">GitHub Repository</h5>
<p><a href="TBD" target="_blank">Github link coming soon.</a></p>
        </div>
      </div>